body {
	margin: auto;
	width: 66%;
	padding: 10px;
	font-family: "Roboto", "Arial", "Sans-serif";
	color: #1c86b0;
	background-color: #f0f4f5;
	position: center;
}

ul {
	list-style-type:none;
	margin: 0;
	padding: 0;
}

ul li {
	display: inline;
}

ul img {
	width: 150px;
	border-radius %25;
}

.sandbox {
	width: 100%;
	height: 600px;
	overflow: auto;
}
